<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>

	<div class="container">

		<div class="jumbotron mb-4">
			<h1 class="display-4">Novo pedido</h1>
		</div>

		<form action="/pedido/novo" method="post">
			<div class="form-group row">
				<label for="nomeProduto">Nome do produto</label> 
				<input class="form-control col-5" type="text" name="nomeProduto" placeholder="Nome do produto">
				<small>Digite o nome do produto</small>
			      
				<label for="valor">URL</label> 
				<input class="form-control col-4" type="text" name="ulrProduto" placeholder="Url produto">
				<small>Cole aqui a url do produto</small>
				
				<label for="valor">Imagem</label> 
				<input class="form-control col-4" type="text" name="urlImagem" placeholder="Url da imagem do produto">
				<small>Copie a url da imagem e cole aqui</small>
			</div>
			
			<div class="row">
				<label class="mr-4" for="descricao">Descrição</label>
				<textarea rows="5" cols="64" placeholder="Descrição do produto" type="text" name="descricao"></textarea>
				<small>Descreva o produto</small>
			</div>
			
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		
	</div>

</body>
</html>