<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>

	<div class="jumbotron mb-0">
			<h1 class="display-4">Meus pedidos</h1>
		</div>

		<nav
			class="navbar navbar-expand navbar-light bg-light mb-4 shadow p-3 mb-5 rounded">
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="/home">Todos
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Aguardando</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Aprovado</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Entregue</a></li>
				</ul>
			</div>
			<a href="/pedido/formulario">
				<button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button>
			</a>
		</nav>

	<div class="container" th:each="pedido : ${pedidos}">

		<div class="card">

			<div class="card-header" th:text="${pedido.nome}">[Nome]</div>
			<div class="card-body shadow p-3 mb-5 rounded">

				<div class="row">
					<div class="col-sm-8  col-12  mb-4">

						<div class="row">
							<div class="col-md-5">
								<hr>
								Valor
								</hr>
								: <span th:text="${pedido.valor}">[Valor]</span>
							</div>
							<div class="col-md-7">
								<hr>
								Data de entrega
								</hr>
								:
								<td th:text="${#temporals.format(pedido.data, 'dd/MM/yyyy')}">[Data]</td>
							</div>
						</div>

						<div>
							<hr>
							Produto
							</hr>
							<input class="form-control" th:value="${pedido.urlProduto}">
						</div>

						<div>
							<hr>
							Descrição do produto
							</hr>
							<textarea class="form-control" th:text="${pedido.descricao}"></textarea>
						</div>

					</div>
					<div class="col-sm-4  col-12">

						<div>
							<img class="img-thumbnail" th:src="${pedido.urlImagem}" />
						</div>

					</div>
				</div>

			</div>

		</div>
	</div>

</body>
</html>